.Header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-md);
  padding: var(--space-lg) var(--space-sm);
  background: var(--gradient-body-background, var(--body-background));
  color: var(--text-secondary);
}

.Header__filters {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-self: stretch;
}

.Header__filters .FormControl {
  margin-inline-end: 8px;
}

.Header__search {
  flex-grow: 1;
}

.Header__search .FormControl {
  width: 100%;
}

.Header__summary {
  grid-area: summary;
  text-align: end;
  white-space: nowrap;
  margin-inline-start: 8px;
}

/* TODO move following styles to the components which use them */

.iconsWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.refreshIcon:hover,
.svg-button:focus-visible .refreshIcon {
  animation: refreshing 2s infinite;
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
