.Dialog {
  padding: 0;
  text-align: start;

  --dialog-margin-horizontal: 32px;
  --dialog-margin-vertical: 24px;
  --dialog-gap: 24px;
}

.Dialog__headerTitle {
  flex: 100% 1 1;
  padding: var(--dialog-margin-vertical) 16px 0 var(--dialog-margin-horizontal);
  font-size: var(--text-xl);
  margin: var(--space-lg) 0 0;
  text-align: start;
}

.Dialog__content {
  padding: 0 var(--dialog-margin-horizontal) var(--dialog-gap);
}

.log-upload-result {
  max-width: 500px !important;
}

.Dialog__footer {
  display: flex;
  gap: 16px;
  justify-content: end;
  padding-top: var(--space-md);
}
